@model PersonalBlog.Entities.Dtos.SiteDtos.SiteDto
<meta name="keywords" content="@Model.Site.siteKeywords">
<meta name="author" content="Hasan Erdal">
<meta name="description" content="@Model.Site.Description">
<title>@Model.Site.siteName</title>