@model PersonalBlog.Entities.Dtos.SocialMediasDtos.SocialMediasAddDto

@{
    ViewBag.Title = "Add Social Media Account";
}

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-area="Admin" asp-action="Index" asp-controller="Home">Admin</a></li>
    <li class="breadcrumb-item"><a asp-area="Admin" asp-action="Index" asp-controller="SocialMedias">Social Medias</a></li>
    <li class="breadcrumb-item">Add Social Media Account</li>
</ol>
<hr />

<form method="post" asp-action="Add">
    <div class="form-group">
        <label asp-for="MediaLogo"></label>
        <input asp-for="MediaLogo" class="form-control" />
        <span asp-validation-for="MediaLogo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MediaURL"></label>
        <input asp-for="MediaURL" class="form-control" />
        <span asp-validation-for="MediaURL" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="offset-lg-1">
            <button type="submit" class="btn btn-success"><i class="far fa-save"></i> Add</button>
        </div>
    </div>
</form>
<a asp-action="Index" class="btn btn-danger"><i class="fas fa-undo"></i> Return</a>