@model PersonalBlog.Entities.Dtos.ContactMeDtos.ContactMeAddDto 

@{ 
    ViewBag.Title = "Contact";
}
<div class="container-fluid map p-0 mx-0 my-5">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.8943165822398!2d30.322899075058533!3d40.742350935758566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ccaded70ee240b%3A0xd81085b5551312fd!2sFaculty%20of%20Computer%20and%20Information%20Sciences!5e0!3m2!1sfr!2str!4v1683552344113!5m2!1sfr!2str" width="100%" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
   <!-- <iframe src="https://goo.gl/maps/behV3GXn8VNQd4Db6?coh=178573&entry=tt"
            width="100%" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe> -->
</div>
    <!--CONTACT-->
    <section id="contact">
        <div class="cerceve">
            <div class="row">
                <div class="col-lg-8 p-5 contact-bg mx-auto text-center">
                    <h1 class="pt-3 pb-5"><i class="fas fa-envelope-open-text"></i> Reach Me</h1>
                    <form method="post" asp-action="Contact">
                        <div class="col-lg-12 form-group ">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control first-input" placeholder="First Name" asp-for="FirstName" required>
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Last Name" asp-for="LastName" required>
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="my-3 form-control" placeholder="Email Adress" asp-for="EmailAdress" required>
                                <span asp-validation-for="EmailAdress" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" class="my-3 form-control" placeholder="Subject" asp-for="Subject" required>
                                <span asp-validation-for="Subject" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <textarea class="my-3 form-control" placeholder="Message" cols="30" rows="5" asp-for="Message" required></textarea>
                                <span asp-validation-for="Message" class="text-danger"></span>
                            </div>
                            <button class="btn btnContact w-50 font-weight-bold" type="submit"><i class="fas fa-paper-plane"></i> Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>