@model PersonalBlog.Entities.Dtos.SkillsDtos.SkillsListDto   

<div class="col-lg-6 mx-auto pt-5 pb-4 text-center" id="skills">
    <h2 class="font-weight-bold"><i class="fas fa-chart-pie"></i> MY SKILLS</h2>
    @foreach (var item in Model.Skills)
    {
        <div class="skill py-3">
            <h4 class="py-2 text-left">@item.SkillName</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                     aria-valuenow="@item.Percentage" aria-valuemin="@item.Percentage" aria-valuemax="100" style="width:@item.Percentage%">
                    @item.Percentage%
                </div>
            </div>
        </div>
    }
</div>