@model PersonalBlog.Entities.Dtos.SocialMediasDtos.SocialMediasListDto

@foreach (var item in Model.SocialMedias)
{
    <li class="list-inline-item">
        <a href="@item.MediaURL" class="px-2" style="font-size:2.5rem" title="@item.MediaURL" target="_blank">
            @Html.Raw(item.MediaLogo)
        </a>
    </li>
}
